---
layout: page
title: Tags
---

{% capture tags_csv %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tags_array = tags_csv | split:',' %}
<ul id="tags-archive-list">
{% capture book_titles %}{{ site.books.first.content | split:',' }}{% endcapture %}
{% sorted_for tag in tags_array %}
  <li>{% if book_titles contains tag %}<i class="fa fa-book"></i>{% endif %} {{ tag | tag_link}} ({{ site.tags[tag].size }}) </li>
{% endsorted_for %}
</ul>
