---
layout: page
title: Tags
regenerate: true
---

{% capture tags_csv %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tags_array = tags_csv | split:',' | sort_natural %}
<h1>Books</h1>
{% capture book_titles %}{{ site.books.first.content | split:',' }}{% endcapture %}
<ul class="tags-archive-list">
{% for tag in tags_array %}
{% if book_titles contains tag %}<li><i class="fa fa-book"></i> {{ tag | tag_link}} ({{ site.tags[tag].size }}) </li>{% endif %}
{% endfor %}
</ul>

<h1>Keywords</h1>
<ul class="tags-archive-list">
{% for tag in tags_array %}
{% if book_titles contains tag %}{% else %}<li>{{ tag | tag_link}} ({{ site.tags[tag].size }})</li>{% endif %}
{% endfor %}
</ul>
