<div class="sidebar-bg">
<div class="sidebar">
    <div class="sidebar-about">
      <h1><a href="/">{{ site.title }}</a></h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      {% strip %}
        {% assign pages_list = site.pages %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if node.layout == "page" %}
              <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a><span class="sidebar-nav-indicator {% if page.url == node.url %} active{% endif %}">◀</span>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endstrip %}
    </ul>

    <p class="copyright">&copy; 2005 - {{ site.time | date: '%Y' }} by Eric Fung. All rights reserved.</p>
</div>
</div>
