---
layout: default
author_profile: true
---

{% strip %}
{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
{% for i in (0..4) %}
  {% assign post = site.posts[i] %}
  {% include archive-single.html %}
{% endfor %}
  <p>
  <hr>
  More in the <a href="/archives">archives</a>…
  </div>
</div>


{% endstrip %}
