---
layout: default
---

<div class="post">
  <div class="post-header">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList" id="breadcrumb">
      <li itemprop="itemListElement" itemscope
          itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="{{ page.date | date: '/%Y/' }}">
            <span itemprop="name">{{ page.date | date: '%Y' }}</span></a>
        <meta itemprop="position" content="1" />
      </li> ›
      <li itemprop="itemListElement" itemscope
          itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="{{ page.date | date: '/%Y/%m/' }}">
            <span itemprop="name">{{ page.date | date: '%b' }}</span></a>
        <meta itemprop="position" content="2" />
      </li> ›
      <li itemprop="itemListElement" itemscope
          itemtype="http://schema.org/ListItem">
          <span itemprop="name">{{ page.date | date: '%d' }}</span>
        <meta itemprop="position" content="3" />
      </li>
    </ol>
    <h1 class="post-title">{{ page.title }}</h1>
  </div>
  {{ content }}

  {%strip%}
  {% if page.tags.size > 0 %}
      <div class="tags">
        <ul class="tag-list">
          {% for t in page.tags %}
            <li><a href="{{ t | tag_url }}">{{ t }}</a></li>
          {% endfor %}
      </div>
  {% endif %}

  {% if page.comments %}
    <div class="comments">
    {% include disqus_comments.html %}
    </div>
  {% endif %}

  <div class="pagination">
    {% if page.previous %}
      <a class="pagination-item older" href="{{page.previous.url}}"><i class="fa fa-backward"></i>  Previous Post</a>
    {% else %}
      <span class="pagination-item older">Older</span>
    {% endif %}
    {% if page.next %}
      <a class="pagination-item newer" href="{{page.next.url}}">Next Post  <i class="fa fa-forward"></i></a> 
    {% else %}
      <span class="pagination-item newer">Newer</span>
    {% endif %}
  </div>
  {%endstrip%}
</div>
