<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      prefix="og: http://ogp.me/ns#"
      xml:lang="en" lang="en-us"
      itemscope itemtype="http://schema.org/Recipe">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="/public/css/recipe.css">
    <title>
      {{ page.title }} &middot; {{ site.title }}
    </title>
  </head>
  <body>
    {% include sidebar.html %}
    <div class="content container">
      <div class="recipe" >
        {{ content }}
      </div>
    </div>
  </body>
</html>
