<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  <head>
  <meta name="robots" content="none" />
  {% include head.html %}
  <title>
    Posts tagged with {{ page.tag }} &middot; {{ site.title }}
  </title>
  </head>

  <body>

    {% include sidebar.html %}

    <div class="content container">
      <h1>{{ page.posts.size }} post{% if page.posts.size > 1 %}s{% endif %} tagged with {{ page.tag }}</h1>
      {% strip %}
      {% for post in page.posts %}
      <div class="tag-container">
          <div class="tag-thumbnail">
            {% if post.thumbnail %}
              <img class="thumbnail" src="{{ post.thumbnail }}"></img>
            {% else %}
              <i class="fa fa-cutlery thumbnail tag-thumbnail-placeholder"></i>
            {% endif %}
          </div>
          <div class="tag-details"><div class="post-date">{{ post.date | date: "%Y %b %d" }}</div><div class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></div></div>
      </div>
      {% endfor %}
      {% endstrip %}
    </div>
  </body>
</html>
