---
layout: default
---

<div class="posts">
{% strip %}
{% for post in paginator.posts %}
  {% capture month %}{{ post.date | date: '%m' }}{% endcapture %}
  {% capture nmonth %}{{ post.next.date | date: '%m' }}{% endcapture %}
    {% if month != nmonth %}
      {% if forloop.index != 1 %}</ul>{% endif %}
    <h1 class="post-date"><a href="{{ month }}/">{{ post.date | date: '%B' }}</a></h1>
      <ul id="year-archive-list">
    {% endif %}
        <li>
          {% if post.thumbnail %}
            <img class="thumbnail" src="{{ post.thumbnail }}"></img>
          {% else %}
            <i class="fa fa-cutlery thumbnail"></i>
          {% endif %}
          <div class="post-date">{{ post.date | date: "%d" }}</div> <div class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></div>
        </li>
{% endfor %}
{% endstrip %}
    </ul>
</div>
